{% extends 'base.html' %}

{% block title %}
プロフィール|変更
{% endblock %}

{% block content %}
<div class="w-25 border m-auto p-5">
    <h2 class="text-center mb-5">プロフィール変更</h2>
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form.username }}
        {{ profile_form.introduction }}
        {{ profile_form.birth }}
        {{ profile_form.thumbnail }}
        <button type='submit' class='w-100 mt-3 btn btn-primary'>更新</button>
    </form>
</div>
{% endblock %}
